# Maven output directory.
target/

# Eclipse configuration.
.metadata/
.project
.settings/
.classpath

# IntelliJ configuration.
.idea/
*.iml

# vi backups.
*.swp

# gitk temporary files.
/.gitk*/

# Mac files.
.DS_Store
